# System Standard Configurations
DATABASE_ID_TYPE=UUID
DEFAULT_CURRENCY=KES
SYSTEM_ENVIRONMENT=staging-sandbox

# PostgreSQL Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=fundschain_db
DB_USER=postgres
DB_PASSWORD=your_password_here

# Application Service Ports
PORT_TRAINEE_PORTAL=8080
PORT_CORE_API=5000

# Cors 
ALLOWED_ORIGIN=http://localhost:8080